<!DOCTYPE html>
  <head>
    <title>To Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <!-- <script src="/assets/todo-list.js"></script> -->
  </head>
  <body>
    <header>
      <h1>To Do App</h1>
    </header>
    <div class="todo-table">
      <h4>Add New Task</h4>
      <form id="new-task-form">
            <div class="form-group">
              <label for="task-name-input">Task</label>
              <input type="text" class="form-control" id="task-name-input" placeholder="Enter task" required>
            </div>
            <div class="form-group">
              <label for="task-status-input">Status</label>
                <select class="form-control" name="todo[status]" id="task-status-input">
                  <option>Not Done</option>
                  <option>Done</option>
                </select>
            </div>
            <div class="form-group">
              <label for="task-duedate-input">Due Date</label>
              <input type="date" class="form-control" id="task-duedate-input" placeholder="Enter due date">
            </div>
            <button type="submit" class="btn btn-primary">Add Task</button>
        </form>
      <table class="table" id="row-table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Task Name</th>
            <th scope="col">Status</th>
            <th scope="col">Due Date</th>
            <!-- <th scope="col">Edit</th> -->
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <!-- Here I'm using EJS to populate the table with the data for each 'todo'-->
          <% todos.forEach(function(todo) { %>
          <tr class='task-row'>
            <td><%= todo.toDoText %></td>
            <td><%= todo.status %></td>
            <td><%= todo.dueDate %></td>
            <!-- <td><button type="button" data-row-id="<%= todo.id %>" data-toggle="modal" data-target=".updateModal" class="btn btn-warning action-button update-button">Edit</button></td> -->
            <td><button data-row-id="<%= todo.id %>" id='delete-button' type="button" class="btn btn-danger action-button delete-button">Delete</button></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>
  </body>
</html>
